<template>
  <div class="pane">

    <PanePathBar v-bind:folders="storePane.pathItems" v-on:path="updatePane"></PanePathBar>

    <el-table
      :data="storePane.items"
      ref="directoryTable"
      :cell-style="{ padding: '0', maxHeight: '20px', cursor: 'pointer' }"
      :header-cell-style="{ padding: '0', height: '23px' }"
      @selection-change="selectedChange"
      @current-change="selectedChange"
      @row-dblclick="open"
      highlight-current-row
      border
      stripe
      fit
      size="mini"
      height="82vh"
      width="100%"
      empty-text="Пустая папка">
      <el-table-column
        type="selection"
        width="35">
      </el-table-column>
      <el-table-column
        prop="name"
        label="Имя"
        min-width="180"
        sortable>
        <template slot-scope="scope">
          <v-icon :name="setIcon(scope.row.type)"></v-icon>
          <span :value="scope.row.path" style="margin-left: 10px; vertical-align: middle;">{{ scope.row.name }}</span>
        </template>
      </el-table-column>
      <el-table-column
        prop="size.text"
        label="Размер"
        width="90"
        sortable
        sort-by="size.raw">
      </el-table-column>
      <el-table-column
        prop="type"
        label="Тип"
        width="110"
        sortable>
      </el-table-column>
      <el-table-column
        prop="modified"
        label="Дата изменения"
        width="135"
        sortable>
      </el-table-column>
    </el-table>

    <PaneStatusBar v-bind:info="storePane.status"></PaneStatusBar>

  </div>
</template>

<script>
import PanePathBar from './PanePathBar';
import PaneStatusBar from './PaneStatusBar'
import { mapGetters, mapMutations, mapActions } from 'vuex';

export default {
  name: 'Pane',
  props: {
    side: String
  },
  components: {
    PanePathBar,
    PaneStatusBar
  },
  computed: {
    ...mapGetters(['pane']),
    storePane: function() {
      return this.pane(this.side);
    }
  },
  methods: {
    ...mapActions(['fetchDirectory']),
    ...mapMutations(['updateSelected', 'updateActive']),
    async open(item) {
      if (item.type === 'Папка') {
        await this.updatePane(item.path, this.side);
      } else {
        // TODO: Open File
      }
    },
    async updatePane(path) {
      this.fetchDirectory({ path, side: this.side });
    },
    selectedChange(selected) {
      this.updateSelected({ selected, side: this.side });
      // this.updateActive({ side: this.side });
      this.$forceUpdate();
      // Toggle Row Checkbox: this.$refs.directoryTable.toggleRowSelection(items)
    },
    setIcon(type) {
      switch (type) {
        case 'Папка':
          return 'folder';
        case 'Изображение':
          return 'image';
        case 'Видеофайл':
          return 'film';
        case 'Аудиофайл':
          return 'music';
        case 'Документ':
          return 'file-text';
        case 'Архив':
          return 'package';
        default:
          return 'file';
      }
    }
  },
  async mounted() {
    this.updatePane('');
  }
}
</script>

<style lang="scss" scoped>
.pane {
  width: 50%;
}
.icon {
  height: 15px;
  width: 15px;
  vertical-align: middle;
}
</style>
