<template>
  <div class="status-bar">
    {{ info }}
  </div>
</template>

<script>
export default {
  name: 'PaneStatusBar',
  props: {
    info: String
  }
}
</script>

<style scoped>
.status-bar {
  padding: 4px 0;
  text-align: center;
  font-size: 11px;
  font-weight: 500;
  color: #505050;
  width: 100%;
  background: linear-gradient(180deg, rgba(228,228,228,1) 0%, rgba(227,228,227,1) 0%, rgba(212,212,212,1) 100%);
  border: 1px solid #cdcdcd;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
</style>