<template>
  <div class="toolbar">

    <div class="button">
      <v-icon name="chevron-left"></v-icon>
    </div>
    <div class="button">
      <v-icon name="chevron-right"></v-icon>
    </div>

    <div class="divider"></div>

    <div class="button" @click="doCopy">
      <v-icon name="copy"></v-icon>
    </div>
    <div class="divider-mini"></div>
    <div class="button" @click="doMove">
      <v-icon name="chevrons-right"></v-icon>
    </div>
    <div class="divider-mini"></div>
    <div class="button" @click="doDelete">
      <v-icon name="trash-2"></v-icon>
    </div>

    <div class="divider"></div>

    <div class="button">
      <v-icon name="settings"></v-icon>
    </div>

  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'Toolbar',
  data() {
    return {
      view: 'table',
      theme: 'light'
    }
  },
  computed: {
    ...mapGetters(['pane']),
    leftPane: function() {
      return this.pane('left');
    },
    rightPane: function() {
      return this.pane('right');
    }
  },
  methods: {
    ...mapActions(['fetchDirectory', 'copyItems', 'moveItems', 'deleteItems']),
    async doCopy() {
      if (this.leftPane.active)
        this.copyItems(this.leftPane.selected);
      else
        this.copyItems(this.rightPane.selected);
      this.fetchDirectory({ path: this.leftPane.path, side: 'left' });
      this.fetchDirectory({ path: this.rightPane.path, side: 'right' });
    },
    async doMove() {
      if (this.leftPane.active)
        this.moveItems(this.leftPane.selected);
      else
        this.moveItems(this.rightPane.selected);
      this.fetchDirectory({ path: this.leftPane.path, side: 'left' });
      this.fetchDirectory({ path: this.rightPane.path, side: 'right' });
    },
    async doDelete() {
      if (this.leftPane.active)
        this.deleteItems(this.leftPane.selected);
      else
        this.deleteItems(this.rightPane.selected);
      this.fetchDirectory({ path: this.leftPane.path, side: 'left' });
      this.fetchDirectory({ path: this.rightPane.path, side: 'right' });
    }
  }
}
</script>

<style lang="scss" scoped>
.toolbar {
  padding: 10px;
  display: flex;
  background: linear-gradient(180deg, rgba(228,228,228,1) 0%, rgba(229,229,229,1) 0%, rgba(206,206,206,1) 100%);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.button {
  height: 25px;
}
.divider {
  width: 50px;
}
.divider-mini {
  width: 6px;
}
.icon {
  cursor: pointer;
  height: 15px;
  padding: 4px 11px;
  background: #FBFBFB;
  border: 1px solid #C0C0C0;
  border-radius: 5px;
  transition: .4s;
  &:hover {
    background: #f6f6f6;
    border-color: rgba(220, 130, 130, 0.5);
  }
  &:active {
    background: rgba(220, 130, 130, 0.1);
  }
}
</style>
